[Unit]
Description=rsnapshot daily backup

[Timer]
OnCalendar={{ rsnapshot.dailytimer }}
Persistent=true
Unit=rsnapshot@daily.service

[Install]
WantedBy=timers.target
